---
import Button from "@components/interactive/Button.astro";

interface NavItem {
  label: string;
  href: string;
}

interface Props {
  items: NavItem[];
}

const { items } = Astro.props;
---

<nav
  class="my-(--space-2xl-4xl) w-full text-center font-normal text-warm-white"
>
  <ul class="md:flex md:justify-between">
    {
      items.map((item) => (
        <li>
          <Button
            className="text-warm-white py-(--space-m) w-full duration-300 hover:text-warm-yellow focus:text-warm-yellow hover:no-underline focus:no-underline tracking-wider outline-none"
            href={item.href}
            variant="tertiary"
          >
            {item.label}
          </Button>
        </li>
      ))
    }
  </ul>
</nav>
