---
import { tw } from "@utils/index";

import Video from "@components/media/Video/Video.astro";

import { classes } from "../script/config";

import type { Props as CarouseProps } from "../Carousel.astro";

type Props = Pick<CarouseProps, "videoSources" | "videoPoster" | "videoLqip">;

const { videoSources, videoPoster, videoLqip } = Astro.props;
---

<div
  class="relative mx-auto aspect-square w-(--testimonials-carousel-video-width) overflow-hidden rounded-full bg-sand-beige"
>
  <Video
    alt=""
    aria-hidden="true"
    className={tw(classes.video, "noise-15 h-max w-max rounded-none")}
    loop
    lqipDataUrl={videoLqip}
    poster={videoPoster}
    sources={videoSources}
  />
</div>
