@theme {
  --color-*: initial;

  --color-warm-white: #fffefc;
  --color-soft-beige: #f7f4ed;
  --color-sand-beige: #efe9d9;
  --color-dark-beige: #ccba8c;

  --color-muted-green: #e2ede3;
  --color-deep-green: #025345;
  --color-forest-green: #033a35;
  --color-night-green: #022c29;

  --color-muted-teal: #3a4f4b;
  --color-dark-teal: #012f2c;

  --color-warm-yellow: #d49f11;
  --color-bright-yellow: #fcd961;

  --color-charcoal: #232426;

  --color-earth-red: #b6463a;
}
