---
import { tw, type PropsWithChildren } from "@utils/index.ts";

type Props = PropsWithChildren<{
  className?: string;
}>;

const { className = "" } = Astro.props;

const baseClasses = tw(
  "font-serif text-5xl leading-[1.1] text-balance text-deep-green italic",
);
---

<p class:list={tw(baseClasses, className)}>
  <slot />
</p>
