---
import { tw, type PropsWithChildren } from "@utils/index.ts";

const isInternalURL = (url: string) => url.startsWith("/");

type Props = PropsWithChildren<{
  className?: string;
  href: string;
}>;

const { className, href } = Astro.props;

const isInternal = isInternalURL(href);

const attrs = !isInternal
  ? { target: "_blank", rel: "noopener noreferrer" }
  : {};

const baseClasses = tw(
  "font-normal text-deep-green outline-none hover:text-warm-yellow hover:underline focus-visible:text-warm-yellow focus-visible:underline",
);

const classList = tw(baseClasses, className);
---

<a href={href} {...attrs} class:list={classList}><slot /></a>
