---
import { tw, type PropsWithChildren } from "@utils/index.ts";

type Props = PropsWithChildren<{
  className?: string;
}>;

const { className } = Astro.props;

const baseClasses = tw(
  "max-w-prose text-base leading-[1.6] font-light text-pretty text-charcoal",
);

const classList = tw(baseClasses, className);
---

<p class:list={classList}><slot /></p>
