---
import { tw } from "@utils/index.ts";

interface Props {
  className?: string;
  children: any; // eslint-disable-line @typescript-eslint/no-explicit-any
}

const { className = "" } = Astro.props;

const baseClasses = tw(
  "max-w-prose text-base font-light text-pretty text-charcoal",
);
---

<p class:list={tw(baseClasses, className)}>
  <slot />
</p>
