---
import { tw, type PropsWithChildren } from "@utils/index";

type Props = PropsWithChildren<{
  type?: "medium" | "bold";
}>;

const { type = "bold" } = Astro.props;

const baseClasses = tw("text-(--weight-color)");

const weightClasses = {
  medium: "font-medium",
  bold: "font-bold",
};
---

<span class:list={tw(baseClasses, weightClasses[type])}><slot /></span>
