---
import type { PropsWithChildren } from "@utils/index";

type Props = PropsWithChildren<{
  type?: "medium" | "bold";
}>;

const { type = "bold" } = Astro.props;

const weightClasses = {
  medium: "font-medium",
  bold: "font-bold",
};
---

<span class:list={weightClasses[type]}><slot /></span>
