---
import { tw, type PropsWithChildren } from "@utils/index";

type Props = PropsWithChildren<{
  className?: string;
  type?: "medium" | "bold";
}>;

const { type = "bold", className } = Astro.props;

const baseClasses = tw("");

const weightClasses = {
  medium: "font-medium",
  bold: "font-bold",
} as const;

const classList = tw(baseClasses, weightClasses[type], className);
---

<span class:list={classList}><slot /></span>
