---
import { tw, type PropsWithChildren } from "@utils/index.ts";

type Props = PropsWithChildren<{
  className?: string;
}>;

const { className = "" } = Astro.props;

const baseClasses = tw("mx-auto h-full w-full max-w-(--container-width)");
---

<div class:list={tw(baseClasses, className)}>
  <slot />
</div>
