---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2 class="font-serif text-3xl text-balance">
    Opowieść, którą w sobie nosisz, ma tutaj swoją przestrzeń by wybrzmieć
  </h2>
  <p class="font-sans text-m text-balance">
    Towarzyszymy w pracy nad emocjami, myślami i codziennymi wyzwaniami.
  </p>
</Layout>

<style></style>

<script></script>
